<template>
 <v-app>
  <v-card class="overflow-hidden">
    <v-app-bar
      absolute
      color="#6A76AB"
      dark
      flat
      src="https://picsum.photos/1920/1080?random"
      fade-img-on-scroll
    >
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)"
        ></v-img>
      </template>
      <v-avatar>
      <img
        src="/wal.png"
        alt="John"
      >
    </v-avatar>
    &nbsp;

      <v-toolbar-title>Walook Store</v-toolbar-title>

      <v-spacer></v-spacer>


      <v-menu
        bottom
        left
        v-if="this.$auth.loggedIn"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            color="yellow"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item>
            <v-list-item-title to="/products" nuxt>
              <v-btn text to='/products' nuxt> Home</v-btn>
            </v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>
              <v-btn text v-on:click="logout()"> Cerrar sesión</v-btn>
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      
    </v-app-bar>

   <v-card>
    
  </v-card>
      <v-container style="max-height: 120vh;" class="d-flex">
        <nuxt/>
      </v-container>
  </v-card>
</v-app>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  methods: {
    async logout(){
      let resp = await this.$auth.logout('/logout');
      console.log(resp);
    }
  },
   
}
</script>
