<template>
  <v-row justify="center" align="center" class="my-6 py-6 mx-10">
    <v-col cols="12" sm="8" md="6">
      <v-alert
      v-if="alert.show"
      class="mt-4"
      outlined
      :type="alert.type"
      text
    >
      {{ alert.text }}
    </v-alert>
    <v-alert
      v-if="alert.show"
      class="mt-4"
      outlined
      :type="alert.type"
      text
    >
      <a :href="downloadReport" download target="_blank">Descarga comprobante</a>
    </v-alert>
      <div class="text-center"></div>
      <v-card shaped sm="12">
        <v-card-title class="headline"> PAGAR AHORA </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form v-model="valid" id="payForm">
            <v-container>
              <v-row>
                <v-col cols="6" md="6">
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title
                        ><b>Concepto de Pago:</b></v-list-item-title
                      >
                      <v-list-item-subtitle>{{
                        product.name
                      }}</v-list-item-subtitle>
                      <v-list-item-title class="pt-4"
                        ><b>Tipo de bien:</b></v-list-item-title
                      >
                      <v-list-item-subtitle>Correo</v-list-item-subtitle>
                      <v-list-item-title class="pt-4"
                        ><b>ID del evento:</b></v-list-item-title
                      >
                      <v-list-item-subtitle>MXN371599664</v-list-item-subtitle>
                      <v-list-item-title class="pt-4"
                        ><b>Importe del servicio:</b></v-list-item-title
                      >
                      <v-list-item-subtitle
                        >${{ product.price }}</v-list-item-subtitle
                      >
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
                <v-col cols="6" md="6">
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title
                        ><b>Fecha de adjudicación:</b></v-list-item-title
                      >
                      <v-list-item-subtitle>2020-10-08</v-list-item-subtitle>
                      <v-list-item-title class="pt-4"
                        ><b>Hora de adjudicación:</b></v-list-item-title
                      >
                      <v-list-item-subtitle>12:00 AM</v-list-item-subtitle>
                      <v-list-item-title class="pt-4"
                        ><b>Huso-horario deseado:</b></v-list-item-title
                      >
                      <v-list-item-subtitle
                        >America/Mexico_city</v-list-item-subtitle
                      >
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="6">
                  <v-card>
                    <v-img
                      src="https://www.paymentsjournal.com/wp-content/uploads/2018/06/bank-3487033_1920.png"
                      max-height="125"
                      contain
                      class="grey darken-1"
                    ></v-img>
                    <v-card-title class="title">
                      <v-chip-group
                        :color="
                          defaultPayment
                            ? 'blue darken-4 accent-4 white--text'
                            : 'grey lighten-1'
                        "
                      >
                        <v-chip v-on:click="selectPayCard()">Tarjeta</v-chip>
                      </v-chip-group>
                    </v-card-title>
                  </v-card>
                </v-col>
                <v-col cols="12" md="6">
                  <v-card>
                    <v-img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Oxxo_Logo.svg/1200px-Oxxo_Logo.svg.png"
                      max-height="125"
                      contain
                      class="grey darken-1"
                    ></v-img>
                    <v-card-title class="title">
                      <v-chip-group
                        :color="
                          oxxoPayment
                            ? 'blue darken-4 accent-4 white--text'
                            : 'grey lighten-1'
                        "
                        column
                      >
                        <v-chip v-on:click="selectPayOxxo()">Oxxo</v-chip>
                      </v-chip-group>
                    </v-card-title>
                  </v-card>
                </v-col>
              </v-row>
              <v-divider></v-divider>
              <v-row>
                <v-col cols="12" md="6" v-show="!oxxoPay">
                  <v-text-field
                    counter="16"
                    label="Nombre del tarjetahabiente"
                    outlined
                    v-model="cardHolder"
                    data-conekta="card[name]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" v-if="!oxxoPay">
                  <v-text-field
                    v-model="cardNumber"
                    counter="16"
                    label="Número tarjeta crédito"
                    outlined
                    data-conekta="card[number]"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" md="4" v-if="!oxxoPay">
                  <v-text-field
                    :counter="2"
                    v-model="expiryMonth"
                    label="MES EXP."
                    required
                    outlined
                    maxlength="2"
                    max="12"
                    data-conekta="card[exp_month]"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" md="4" v-if="!oxxoPay">
                  <v-text-field
                    v-model="expiryYear"
                    label="AÑO EXP."
                    required
                    outlined
                    maxlength="2"
                    :counter="2"
                    data-conekta="card[exp_year]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="4" v-if="!oxxoPay">
                  <v-text-field
                    :counter="3"
                    v-model="cvc"
                    label="CVC"
                    required
                    outlined
                    maxlength="3"
                    data-conekta="card[cvc]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    counter="10"
                    label="Número telefonico"
                    outlined
                    v-model="phone"
                    maxlength="10"
                  ></v-text-field>
                </v-col>
                <v-col v-if="show">
                  <v-text-field v-model="token"> </v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            x-large
            class="mb-12"
            color="success"
            dark
            v-on:click.prevent="submitPayment()"
          >
            <v-icon>mdi-send</v-icon>
            Pagar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    
  </v-row>
  
</template>

<script>
export default {
  middleware: 'auth',

  data: () => ({
    downloadReport: '',
    alert:{
      show: false,
      type: 'success',
      text: 'lorem ipsum sajfsagjs'
    },
    product: {
      price: 0,
      name: '-',
    },
    oxxoPay: false,
    valid: false,
    show: false,
    selpayment: 'card',
    defaultPayment: true,
    oxxoPayment: false,
    cardNumber: 4242424242424242,
    cardHolder: null,
    expiryYear: null,
    expiryMonth:null,
    cvc: null,
    phone: null,
    token: null,
    formC: null,
  }),

  mounted() {
    this.lookProduct();
  },

  methods: {
    selectPayOxxo() {
      this.defaultPayment = false
      this.oxxoPayment = true
      this.oxxoPay = true
      this.selpayment = 'oxxo_cash';
    },
    selectPayCard() {
      this.oxxoPayment = false
      this.defaultPayment = true
      this.oxxoPay = false
      this.selpayment = 'card';
    },
    lookProduct() {
      this.$axios.get(`/api/products/${this.$route.params.id}`).then((resp) => {
        this.product = resp.data
        this.cardHolder = this.$auth.user.name
      })
    },

    submitPayment() {
      let $this = this
      if (this.selpayment === 'oxxo_cash') {
        // oxxo payment
        this.formO = {
            productid: $this.$route.params.id,
            description: $this.product.description,
            phone: $this.phone,
            total: $this.product.price,
            email: $this.$auth.user.email,
            nom: $this.cardHolder,
            typep: $this.selpayment,
          }
          
          $this.$axios.post('api/payments', this.formO).then((resp) => {
            $this.alert.show = true;
            if(resp.data.success){
              console.log(resp.data);
              $this.alert.type = 'success';
              $this.$router.push(`checkout/${resp.data.order.charges.data[0].payment_method.reference}`);
            }else{
              $this.alert.type = 'warning';
              $this.alert.text = resp.data.error;
            }
            setTimeout(()=>{  
              $this.alert.show = false;
            },4000)
          }).catch(error => console.error('(1) Inside error:', error))
      } else {
        window.Conekta.setPublicKey(process.env.conektaPublicKey);
        const tokenParams = {
          card: {
            number: this.cardNumber,
            name: this.cardHolder,
            exp_year: this.expiryYear,
            exp_month: this.expiryMonth,
            cvc: this.cvc,
          },
        }

        var conektaSuccessResponseHandler = function (tok) {
          this.token = tok.id

          this.formC = {
            productid: $this.$route.params.id,
            description: $this.product.description,
            phone: $this.phone,  
            total: $this.product.price,
            token: tok.id,
            email: $this.$auth.user.email,
            nom: $this.$auth.user.name,
            typep: $this.selpayment,
            cardnumber: $this.cardNumber
          }
          
          $this.$axios.post('api/payments', this.formC).then((resp) => {
            $this.alert.show = true;
            if(resp.data.success){
              $this.alert.type = 'success';
              $this.downloadReport = `${$this.$axios.defaults.baseURL}storage/pdf/${resp.data.comp}` ;
              $this.alert.text = resp.data.order.charges.data[0].status == 'paid' ? 'PAGO REALIZADO EXITOSAMENTE' : '';
            }else{
              $this.alert.type = 'warning';
              $this.alert.text = resp.data.error;
            }
            setTimeout(()=>{  
              $this.alert.show = false;
              $this.expiryYear = null;
              $this.expiryMonth = null;
              $this.cvc = null;
              $this.phone = null;
              $this.token = null;
              $this.$router.push('../products');
            },5000)
          }).catch(error => console.error('(1) Inside error:', error))

        }

        var conektaErrorResponseHandler = function (response) {
          $this.alert.type = 'warning';
          $this.alert.show = true;
          $this.alert.text = response.message_to_purchaser;
          setTimeout(()=>{  
            $this.alert.show = false;
          },4000)
          
        }

        window.Conekta.Token.create(
          tokenParams,
          conektaSuccessResponseHandler,
          conektaErrorResponseHandler
        )
      }
    },

  },
}
</script>