<template>
<v-row justify="center" align="center" style="height:97vh;">
  <v-col cols="6">
      <v-card class="py-6 px-6" shaped>
    <v-form style="height:200px">
      <v-container>
        <v-layout column>
          <v-text-field
            label="Email"
            required
            outlined
            v-model="form.email"
          ></v-text-field>

          <v-text-field
            label="Password"
            type="password"
            required
            outlined
            v-model="form.password"
          ></v-text-field>
        </v-layout>
      </v-container>
    </v-form>
    <v-card-actions>
      <v-flex mr-0>
        <v-btn color="primary" v-on:click="login()"  
          >LOGIN</v-btn
        >
      </v-flex>
    </v-card-actions>
  </v-card>
  </v-col>
  
</v-row>
</template>
<script>
export default {
middleware: 'auth',
  data() {
    return {

      form: {
        email: 'abeltran@gmail.com',
        password: 'secret',
      },
      
    }
  },
  created() {
    console.log(this.$auth.loggedIn)
  },
  methods: {
      login() {
      this.$auth
        .loginWith('local', {
          data: {
            email: this.form.email,
            password: this.form.password,
          },
        })
        .then((resp) => {
          this.$auth.setUser(resp.data)
        })
    },
    }
  
}
</script>