<template>
  <v-row justify="center" align="center" style="height:100vh">
    <v-col cols="4" v-for="pr in products" :key="pr.id">
      <v-card :loading="loading" class="mx-auto my-12" max-width="374">
        <template slot="progress">
          <v-progress-linear
            color="deep-purple"
            height="10"
            indeterminate
          ></v-progress-linear>
        </template>

        <v-img
          height="250"
          :src='pr.image'
        ></v-img>
  
        <v-card-title>{{ pr.name }}</v-card-title>

        <v-card-text>
          <v-row align="center" class="mx-0">
            <v-rating
              :value="4.5"
              color="amber"
              dense
              half-increments
              readonly
              size="14"
            ></v-rating>

            <div class="grey--text ml-4">4.5 (413)</div>
          </v-row>

          <div class="my-4 subtitle-1">• Tag 1, Tag 2</div>

          <div>
            {{ pr.description }}
          </div>
        </v-card-text>

        <v-divider class="mx-4"></v-divider>

        <v-card-title>Tonight's availability</v-card-title>

        <v-card-text>
          <v-chip-group
            v-model="selection"
            active-class="deep-purple accent-4 white--text"
            column
          >
            <v-chip>5:30PM</v-chip>

            <v-chip>7:30PM</v-chip>

            <v-chip>8:00PM</v-chip>

            <v-chip>9:00PM</v-chip>
          </v-chip-group>
        </v-card-text>

        <v-card-actions>
          <v-btn color="deep-purple lighten-2" text @click="reserve(pr.id)">
            Reserve
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
    middleware: 'auth',
  data() {
    return {
      loading: false,
      selection: 1,
      products: [],
    }
  },
  mounted() {
    this.getListProducts();
  },
  methods: {
    reserve (id) {
        this.loading = true

        setTimeout(() => (
          this.loading = false,
          this.$router.push(`payments/${id}`)
          ), 2000)
      },
    async getListProducts(){
      let resp = await this.$axios.get('/api/products');
      this.products = resp.data;
    }
  },
}
</script>